*{
	margin: 0px;
	padding: 0px;
}

body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

#content {
	text-align: center;
}
#festival{
	background-color: white;
}

.logo img{
  width: 100px;
  margin: 30px;
  margin: 0px;
  padding: 0px;
}

/*--HOME PAGE--*/

/*Navbar*/
.information img{
    width: 40px;
}

/*Navbar - info*/
.navbar-toggler.infoPicture{
    border: none;
}
.infoPicture img{
    width: 25px;
}
.actuToggleTitle{
    font-weight: bold;
}

.actuTitle{
    padding: 5px;
    background-color: lightgreen;
}

.socialNetworks img {
    width: 30px;
    margin: 7px;
}
/*Artists*/

.homeArtists{
  max-height: 60%;
  padding: 10px;
}

 .pictureArtists{
  width: 100%;
  height: 50%;
}

.nameArtists{
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color:grey;
}  

/*Security Information*/
#security{
    background-color: red ;
    padding: 30px;
    color: white;
    font-weight: bold;
}
/*----*/
.bouton {
  background-color: orange;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}
