*{
	margin: 0px;
	padding: 0px;
}

body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

#content {
	text-align: center;
}
#festival{
	background-color: lightgray;
}

.logo img{
  width: 100px;
  margin: 30px;
}

/*--HOME PAGE--*/

/*Artists*/

.homeArtists{
  height: 60%;
}

 .pictureArtists{
  width: 100%;
}
/* 
.nameArtists{
  text-transform: uppercase;
}  */

.bouton {
  background-color: orange;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: none;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}