*{
	margin: 0px;
	padding: 0px;
}

body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

#content {
	text-align: center;
}
#festival{
	background-color: white;
}

.logo img{
  width: 100px;
  margin: 30px;
  margin: 0px;
  padding: 0px;
}

/*--HOME PAGE--*/

/*Navbar*/
.information img{
    width: 40px;
}

/*Navbar - info*/
.navbar-toggler.infoPicture{
    border: none;
}
.infoPicture img{
    width: 25px;
}
.actuToggleTitle{
    font-weight: bold;
}

.actuTitle{
    padding: 5px;
    background-color: lightgreen;
}

.socialNetworks img {
    width: 30px;
    margin: 7px;
}
/*Artists*/

.homeArtists{
  max-height: 60%;
  padding: 10px;
}

 .pictureArtists{
  width: 100%;
  height: 50%;
}

.nameArtists{
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color:grey;
}  

/*Security Information*/
#security{
    background-color: red ;
    padding: 30px;
    color: white;
    font-weight: bold;
}
/*----*/
.bouton {
  background-color: orange;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: none;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
}

.picturePartenaire {
  max-width: 350px;
  max-height: 350px;
}

#titrepartenaire {
  background-color: rgb(89,240,169);
}

.detail {
  font-weight: bold;
}

/***DAYS FILTER***/

/*-------------------------
  The search input
--------------------------*/

.bar{
  padding: 5px;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  width: 100%;
  position:relative;
}

.bar a{
  background:#4987a1 center center no-repeat;
  width:20%;
  padding: 4px;
  display:inline-block;
  text-decoration:none !important;
}

.bar a.active{
  background-color:green;
}

/*-------------------------
  List layout
--------------------------*/

ul.list{
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

ul.list li{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

/* ul.list li img{
  width:120px;
  height:120px;
  float:left;
  border:none;
} */

/* ul.list li p{
  margin-left: 135px;
  font-weight: bold;
  color:#6e7a7f;
} */

/*-------------------------
  Grid layout
--------------------------*/

ul.grid{
  list-style: none;
  width: 570px;
  margin: 0 auto;
  text-align: left;
}

ul.grid li{
  padding: 2px;
  float:left;
}

ul.grid li img{
  width:280px;
  height:280px;
  object-fit: cover;
  display:block;
  border:none;
}